{% extends "layout.html" %}
{% block content %}

<div class="card paper rounded-0 mt-5">
    <form class="bg-darker text-white paper rounded-0 border-0 p-2" id="match_summary_form" method="POST" action="" onsubmit="alert('Updated!')">
        <div class="form-group">
            <label for="match_id">Enter Match ID</label>
            <input type="text" name="match_id" class="form-control rounded-0" id="delete_match_id" placeholder="Enter Match ID" required>
        </div>                

        <div class="form-group">
            <label for="win_team_id">Winner Team</label>
            <input type="text" name="win_id" class="form-control rounded-0" id="win_team_id" placeholder="Enter Team ID" required>
        </div>

        <div class="form-group">
            <label for="lose_team_id">Loser Team</label>
            <input type="text" name="lose_id" class="form-control rounded-0" id="lose_team_id" placeholder="Enter Team ID" required>
        </div>

        <div class="form-group">
            <label for="man_of_match_id">Man of Match</label>
            <input type="text" name="man_of_match_id" class="form-control rounded-0" id="man_of_match_id" placeholder="Enter Player Name" required>
        </div>

        <button type="submit" name="summary" class="btn btn-dark bg-teal border-0 float-left rounded-0 paper">UPDATE</button>
        <button type="reset" class="btn btn-dark bg-teal border-0 float-right rounded-0 paper">Reset Form</button>
        
        <div class="clear_float"></div>
        
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="checkbox" name="draw" class="form-check text-center">DRAW?
    </form>
</div>

{% endblock content%}