.bg-light {
    /* background-image: url(../static/background.jpg); */
    background-color: lightgrey;
}

.bg-darker{
    background-color:#212529;
}
.bg-purple {
    background-color: #A9216B;
}
.bg-red {
    background-color: #ED1B4C;
}
.bg-orange {
    background-color: #F26A44;
}
.bg-yellow {
    background-color: #F9DC67;
}
.bg-teal {
    background-color: #2E9699;
}

.table-header{
    height: 25px;
}

.paper {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-xl {
    padding: 12px 12px;
    font-size: 1rem;
    border-radius: 0px;
    width: 100%;    /*Specify your width here */;
}

.match_radio {
    display: inline-flex; 
    justify-content: center;
}

.clear_float {
    clear: both;
}

#add_team_form, #delete_team_form, #schedule_match_form, #delete_match_form, #add_player_form, #delete_player_form, #start_match_form{
    display: none;
}
#change_bowler_form {
    display: none;
}

#inning_start_form {

    box-shadow: 4px 4px 10px 25px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 25%;
    height: 40%;
    width: 50%;
    margin: auto auto;
    display: block;
}