{% extends "schedule.html" %}
{% block admin %}

    <div class="row">
        <div class="col-md-4 col-sm-6 mt-2">
            <div class="card bg-dark">
                <div class="card-body card-dim text-center text-white" id="add_team">
                    Add Team
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mt-2">
            <div class="card bg-dark">
                <div class="card-body card-dim text-center text-white" id="add_player">
                    Add Player
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mt-2">
            <div class="card bg-dark">
                <div class="card-body card-dim text-center text-white" id="schedule_match">
                    Schedule Match
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 mt-2">
            <div class="card bg-dark">
                <div class="card-body card-dim text-center text-white" id="del_team">
                    Delete Team
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mt-2">
            <div class="card bg-dark">
                <div class="card-body card-dim text-center text-white" id="delete_player">
                    Delete Player
                </div>
            </div>
        </div>        
        <div class="col-md-4 col-sm-6 mt-2">
            <div class="card bg-dark">
                <div class="card-body card-dim text-center text-white" id="delete_match">
                    Delete Match
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 mt-4">
            <div class="card">
                <div class="card-body card-dim text-center" id="start_match">
                    Start Match
                </div>
            </div>
        </div>
    </div>
    

{% endblock admin %}