{% extends "layout.html" %}
{% block content %}

<!--Data-->
<div class="rest-body">
    <div class="row mt-5">
        <!--points-->
        <div class="col-sm-12 col-md-12">
            <div class="card border-0">
                <div class="card-header bg-red text-white rounded-0">Top Teams</div>
                <table class="table table-dark text-center rounded-0 paper">
                    <tr><th>Position</th><th>Team</th><th>Points</th></tr>
                    <tr><td>1</td><td>IND</td><td>5</td></tr>
                    <tr><td>1</td><td>IND</td><td>5</td></tr>
                    <tr><td>1</td><td>IND</td><td>5</td></tr>
                    <tr><td>1</td><td>IND</td><td>5</td></tr>
                    <tr><td>1</td><td>IND</td><td>5</td></tr>
                </table>
            </div>
            <button onclick="window.location.href = '{{ url_for('points') }}';" 
            class="btn btn-dark bg-orange border-0 float-right rounded-0 paper">
                More >>
            </button>
        </div>
        <!--schedule-->
        <div class="col-sm-12 col-md-12 mt-3">
            <div class="card border-0">
                <div class="card-header bg-red text-white rounded-0">Schedule</div>
                <table class="table table-dark text-center paper">
                    <tr><th>Team1</th><th>Team2</th><th>Date</th></tr>
                    <tr><td>INd</td><td>IND</td><td>05/10/20</td></tr>
                    <tr><td>INd</td><td>IND</td><td>05/10/20</td></tr>
                    <tr><td>INd</td><td>IND</td><td>05/10/20</td></tr>
                    <tr><td>INd</td><td>IND</td><td>05/10/20</td></tr>
                    <tr><td>INd</td><td>IND</td><td>05/10/20</td></tr>
                </table> 
            </div>
            <button onclick="window.location.href = '{{ url_for('schedule') }}';" 
            class="btn btn-dark border-0 float-right rounded-0 paper mb-5 bg-orange">
                See Full Schedule >>
            </button>
        </div>
    </div>
</div>

{% endblock content%}