{% extends "layout.html" %}
{% block content %}

<div style="height: 40px;" class="mt-4 mb-2"><h4 class="bg-dark text-white h-100 pl-2 paper">Top Teams</h4></div>
<table class="table table-light text-center paper">
    <tr><th>Position</th><th>Team</th><th>Matches</th><th>Wins</th><th>Loses</th><th>Draw</th><th>Points</th></tr>
    <tr><td>1</td><td>IND</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td></tr>
    <tr><td>1</td><td>IND</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td></tr>
    <tr><td>1</td><td>IND</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td></tr>
    <tr><td>1</td><td>IND</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td></tr>
    <tr><td>1</td><td>IND</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td></tr>
    
</table>

{% endblock content%}