{% extends "layout.html" %}
{% block content %}

<div class="card border-0 mt-5">
    <div class="card-header bg-red text-white rounded-0">Top Teams</div>
    <table class="table table-dark text-center rounded-0 paper">
        <tr><th>Position</th><th>Team</th><th>Matches</th><th>Wins</th><th>Loses</th><th>Draw</th><th>Points</th></tr>
        <tr><td>1</td><td>IND</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td></tr>
        <tr><td>1</td><td>IND</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td></tr>
        <tr><td>1</td><td>IND</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td></tr>
        <tr><td>1</td><td>IND</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td></tr>
        <tr><td>1</td><td>IND</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td></tr>
    </table>
</div>

{% endblock content%}