{% extends "layout.html" %}
{% block content %}

<div class="text-left bg-dark text-white mt-5 mb-5 h-25 pl-2"><h3>Full Schedule</h3></div>
<table class="table table-light text-center">
    <tr><th>Team1</th><th>Team2</th><th>Date</th></tr>
    <tr><td>INd</td><td>IND</td><td>05/10/20</td></tr>
    <tr><td>INd</td><td>IND</td><td>05/10/20</td></tr>
    <tr><td>INd</td><td>IND</td><td>05/10/20</td></tr>
    <tr><td>INd</td><td>IND</td><td>05/10/20</td></tr>
    <tr><td>INd</td><td>IND</td><td>05/10/20</td></tr>
</table> 

{% endblock content%}