{% extends "layout.html" %}
{% block content %}

<div class="text-left bg-dark text-white mt-5 mb-2 h-25 pl-2"><h3>Full Schedule</h3></div>
<table class="table table-light text-center">
    <tr><th>Match ID</th><th>Team1</th><th>Team2</th><th>Date</th></tr>
    <tr><td>1</td><td>INd</td><td>IND</td><td>05/10/20</td></tr>
    <tr><td>1</td><td>INd</td><td>IND</td><td>05/10/20</td></tr>
    <tr><td>1</td><td>INd</td><td>IND</td><td>05/10/20</td></tr>
    <tr><td>1</td><td>INd</td><td>IND</td><td>05/10/20</td></tr>
    <tr><td>1</td><td>INd</td><td>IND</td><td>05/10/20</td></tr>
    <tr><td>1</td><td>INd</td><td>IND</td><td>05/10/20</td></tr>    
</table>

{% block admin %}{% endblock admin %}

{% endblock content%}