{% extends "layout.html" %}
{% block content %}

<div style="height: 40px;" class="mt-4 mb-2 paper"><h4 class="bg-dark text-white h-100 pl-2">Schedule</h4></div>
<table class="table table-light text-center paper">
    <tr><th>Match ID</th><th>Team1</th><th>Team2</th><th>Date</th></tr>
    <tr><td>1</td><td>INd</td><td>IND</td><td>05/10/20</td></tr>
    <tr><td>1</td><td>INd</td><td>IND</td><td>05/10/20</td></tr>
    <tr><td>1</td><td>INd</td><td>IND</td><td>05/10/20</td></tr>
    <tr><td>1</td><td>INd</td><td>IND</td><td>05/10/20</td></tr>
    <tr><td>1</td><td>INd</td><td>IND</td><td>05/10/20</td></tr>
    <tr><td>1</td><td>INd</td><td>IND</td><td>05/10/20</td></tr>    
</table>

{% block admin %}{% endblock admin %}

{% endblock content%}