{% extends "layout.html" %}
{% block content %}

<div class="card border-0 mt-5">
    <div class="card-header bg-red text-white rounded-0">All Teams</div>
    <table class="table table-dark text-center rounded-0 paper">
        <tr><th>Team ID</th><th>Team Name</th><th>Captain</th><th>Players</th></tr>
        <tr><td>1</td><td>INDIA</td><td>Dhoni</td><td>11</td></tr>
        <tr><td>1</td><td>INDIA</td><td>Dhoni</td><td>11</td></tr>
        <tr><td>1</td><td>INDIA</td><td>Dhoni</td><td>11</td></tr>
        <tr><td>1</td><td>INDIA</td><td>Dhoni</td><td>11</td></tr>
        <tr><td>1</td><td>INDIA</td><td>Dhoni</td><td>11</td></tr>
        <tr><td>1</td><td>INDIA</td><td>Dhoni</td><td>11</td></tr>
        <tr><td>1</td><td>INDIA</td><td>Dhoni</td><td>11</td></tr>   
    </table>
</div>

{% endblock content%}